package arrowtools

import (
	"testing"
)

{{- range . }}
    func TestColumnSlice{{ .Utype }}(t *testing.T) {

        x := [][]{{ .Type }}{
        	[]{{ .Type }}{0, 1, 2, 3, 4},
        	[]{{ .Type }}{5, 6, 7},
        	[]{{ .Type }}{8, 9},
        }

	    col := ColumnFrom{{ .Utype }}Slices(x, nil, "name")

		ch := NewColumnHelper(col)
	    y := ch.{{ .Utype }}Slices()

		if len(x) != len(y) {
			t.Fail()
		}

		for i := range x {
			for j := range x[i] {
				if x[i][j] != y[i][j] {
					t.Fail()
				}
			}
		}
    }
{{ end }}