package arrowtools

import (
	"github.com/apache/arrow/go/arrow/array"
)

{{ range . }}
    // Get{{ .Utype }}SliceFromRecord returns a slice corresponding to the given
    // column position in the given record.
    func Get{{ .Utype }}SliceFromRecord(rec array.Record, pos int) []{{ .Type }} {
        return array.New{{ .Utype }}Data(rec.Column(pos).Data()).{{ .Utype }}Values()
    }
{{ end }}

func GetStringSliceFromRecord(rec array.Record, pos int) []string {
	// TODO probably not the best way to do this.
	da := array.NewStringData(rec.Column(pos).Data())
	vals := make([]string, da.Len())
    for i := 0; i<da.Len(); i++ {
    	vals[i] = da.Value(i)
    }
    return vals
}
